{% extends "main.html" %}
{% block content %}

    <h1>{{course.name}}</h1>
    {% if cards %}
        <p>Here are you cards~</p>

        {% for card in cards %}
            <p>{{card}}</p>
            <div>
                {{card.name}}
                <br>
                {{card.description}}
                <br>

                <br>
            </div>
        {% endfor %}
    {% else %}
        <p>You don't have any saved flash cards for the {{course.name}}</p>
    {% endif %}

{% endblock %}